<ng-container *transloco="let t">
  <div class="row m-5" *transloco="let t">
    <app-header
      title="{{t('vehicle.txt_title')}}"
      [permission]="permission.VEHICLES"
      createRoute="./create"
    ></app-header>
    <div class="">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Id</th>
          <th scope="col">{{t('vehicle.txt_capacity')}}</th>
          <th scope="col">{{t('vehicle.txt_avg_cost_per_km')}}</th>
          <th scope="col">{{t('vehicle.txt_avg_speed')}}</th>
          <th scope="col">{{t('vehicle.txt_category')}}</th>
          <th scope="col">{{t('txt_actions')}}</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let v of vehicles; let i = index">
          <tr>
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ v.vehicleId }}</td>
            <td>{{ v.capacity }} lbs</td>
            <td>{{ v.avgCostPerKm }}</td>
            <td>{{ v.avgSpeed }}</td>
            <td>{{ getType(v.vehicleCategoryId) }}</td>
            <td>{{ getStatus(v.statusCategoryId) }}</td>
            <td>
              <button class="btn btn-sm text-primary" [routerLink]="['edit', v.vehicleId]">
                <span class="material-symbols-rounded">edit_note</span>
              </button>
            </td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>
    <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
  </div>
</ng-container>
