<div class="row m-5" *transloco="let t">
  <app-header
    title="{{t('txt_packages')}}"
    [permission]="permission.PACKAGES"
    createRoute="./create"
  ></app-header>
  <div class="">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">{{t('txt_code')}}</th>
        <th scope="col">{{t('txt_description')}}</th>
        <th scope="col">{{t('txt_source')}}</th>
        <th scope="col">{{t('txt_target')}}</th>
        <th scope="col">{{t('txt_source_customer_name')}}</th>
        <th scope="col">{{t('txt_source_customer_contact')}}</th>
        <th scope="col">{{t('txt_target_customer_name')}}</th>
        <th scope="col">{{t('txt_target_customer_contact')}}</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let pack of packages ; let i = index">
        <tr>
          <th scope="row">{{i+1}}</th>
          <td>{{pack.packageCode}}</td>
          <td>{{pack.description}}</td>
          <td>{{pack.sourceOrganizationName}}</td>
          <td>{{pack.targetOrganizationName}}</td>
          <td>{{pack.sourceCustomerName}}</td>
          <td>{{pack.sourceCustomerContact}}</td>
          <td>{{pack.targetCustomerName}}</td>
          <td>{{pack.targetCustomerContact}}</td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
  <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
</div>
