<section style="background-color: #faac3f; height: 93.1vh">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem; background-color: #d6d9de;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                   alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;"/>
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <form>
                  <div class="d-flex align-items-center">
                    <i class="bi bi-truck me-3" style="color: #ff6219; font-size: 50px"></i>
                    <span class="h1 fw-bold">The Shipping</span>
                  </div>

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Inicia sesión en tu cuenta</h5>

                  <div class="form-outline mb-4">
                    <input type="email" id="form2Example17" class="form-control form-control-lg"
                           placeholder="Correo electronico"/>
                    <label class="form-label" for="form2Example17">Correo de usuario</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" id="form2Example27" class="form-control form-control-lg"
                           placeholder="Password"/>
                    <label class="form-label" for="form2Example27">Contraseña</label>
                  </div>

                  <div class="pt-1 mb-4">
                    <button class="btn btn-dark btn-lg btn-block" type="button">Iniciar sesión</button>
                  </div>

                  <a class="text-muted" href="#">Recuperar contraseña</a>
                  <p class="mb-5 pb-lg-2" style="color: #393f81;">¿No tienes una cuenta?
                    <a href="" style="color: #393f81;">Registrate aquí</a></p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
