.main-color td {
  background: #EAEDED;
}

.second-color td {
  background: #F4F6F6;
}

tr {
  &:hover {
    td {
      background-color: #EAECEE;
    }
  }
}

input[type="checkbox"] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.25);
  /* IE */
  -moz-transform: scale(1.25);
  /* FF */
  -webkit-transform: scale(1.25);
  /* Safari and Chrome */
  -o-transform: scale(1.25);
  /* Opera */
  transform: scale(1.25);
}
