<ng-container *transloco="let t">
  <div class="row m-5">
    <h1 class="h3 mb-5">{{ t('txt_create_role') }}</h1>
    <form>
      <div class="row">
        <div class="mb-3 col-lg-6 col-12">
          <app-required-field />
          <label for="name" class="form-label">{{t('txt_name')}}</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="{{t('txt_name_placeholder')}}" noWhitespace [(ngModel)]="role.name">
        </div>
        <div class="mb-3 col-lg-6 col-12">
          <app-required-field />
          <label for="description" class="form-label">{{t('txt_description')}}</label>
          <input type="text" class="form-control" id="description" name="description" placeholder="{{t('txt_description_placeholder')}}" noWhitespace [(ngModel)]="role.description">
        </div>
        <div class="mb-3 col-lg-6 col-12">
          <app-required-field />
          <label for="fee" class="form-label">{{t('txt_hourly_fee')}}</label>
          <input type="text" class="form-control" id="fee" name="fee" placeholder="{{t('txt_hourly_fee_placeholder')}}" noWhitespace [(ngModel)]="role.hourlyFee">
        </div>
      </div>
      <div class="row">
        <div>
          <table class="table m-0 sticky-header table table-borderless">
            <thead>
              <tr>
                <th scope="col">{{ t('txt_permission') }}</th>
                <th class="text-center" scope="col">{{ t('txt_all') }}</th>
                <th class="text-center" scope="col">{{ t('txt_read') }}</th>
                <th class="text-center" scope="col">{{ t('txt_create') }}</th>
                <th class="text-center" scope="col">{{ t('txt_update') }}</th>
                <th class="text-center" scope="col">{{ t('txt_delete') }}</th>
              </tr>
            </thead>
            <tbody>
              <ng-template
                *ngFor="let treeNode of nodes"
                [ngTemplateOutlet]="nodePermission"
                [ngTemplateOutletContext]="{ node: treeNode }"
              ></ng-template>
            </tbody>
          </table>
        </div>

      </div>
      <div class="d-flex flex-column align-items-end my-4">
        <button type="button" class="btn btn-warning btn-wide" (click)="onSubmit()">{{ t('txt_create') }}</button>
      </div>
    </form>
  </div>

  <ng-template #nodePermission let-node='node'>
    <tr *ngIf="node" [ngClass]="{ 'main-color': node.permission.permission.level === 0, 'second-color': node.permission.permission.level === 1 }">
      <td>
        <b *ngFor="let blank of getBlank(node.permission.permission.level)">&nbsp;&nbsp;&nbsp;&nbsp;</b><label>{{ t(node.permission.permission.name) }}</label>
      </td>
      <td class="text-center td-width"><input type="checkbox" class="form-check-input" (change)="onPermissionChange($event, permissionType.ALL, node)" [checked]="getAllChecked(node)"></td>
      <td class="text-center td-width"><input type="checkbox" class="form-check-input" [(ngModel)]="node.permission.readPermission" (ngModelChange)="onPermissionChange($event, permissionType.READ, node)"></td>
      <td class="text-center td-width"><input type="checkbox" class="form-check-input" [(ngModel)]="node.permission.createPermission" (ngModelChange)="onPermissionChange($event, permissionType.CREATE, node)"></td>
      <td class="text-center td-width"><input type="checkbox" class="form-check-input" [(ngModel)]="node.permission.updatePermission" (ngModelChange)="onPermissionChange($event, permissionType.UPDATE, node)"></td>
      <td class="text-center td-width"><input type="checkbox" class="form-check-input" [(ngModel)]="node.permission.deletePermission" (ngModelChange)="onPermissionChange($event, permissionType.DELETE, node)"></td>
    </tr>
    <!-- children here -->
    <ng-container *ngIf="node.children.length">
      <ng-template
         *ngFor="let treeNode of node.children"
         [ngTemplateOutlet]="nodePermission"
         [ngTemplateOutletContext]="{ node: treeNode }"
      >
      </ng-template>
    </ng-container>
  </ng-template>
</ng-container>
