<div class="row m-5" *transloco="let t">
  <app-header
    title="{{t('txt_organizations')}}"
    [permission]="permission.ORGANIZATIONS"
    createRoute="./create"
  ></app-header>
  <div class="">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">{{t('txt_name')}}</th>
        <th scope="col">{{t('txt_description')}}</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let org of organizations ; let i = index">
        <tr>
          <th scope="row">{{i+1}}</th>
          <td>{{org.orgName}}</td>
          <td>{{org.orgDescription}}</td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
  <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
</div>
