/* You can add global styles to this file, and also import other style files */

//ng-select theme
@import "../node_modules/@ng-select/ng-select/themes/default.theme.css";

// @import '~bootstrap/scss/bootstrap'
@import "../node_modules/bootstrap/scss/bootstrap";

// Importing typography
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0');

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

// Custom styles
.btn-wide {
  width: 200px;
  max-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Custom styles
.btn-m-wide {
  width: 150px;
  max-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sticky-header {
  th {
    position: sticky;
    left: 0;
    top: 0;
    z-index: 100;

    div {
      padding: 0;
      display: flex;
      gap: 0.5rem;
      align-items: center;

      div {
        cursor: pointer;
      }
    }

    div.byOrder {
      font-weight: bolder;
    }

    &:last-of-type {
      right: 0;
      top: 0;
    }
  }
}
